{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "plugins": ["jsdoc", "async-await"],
  "rules": {
    "comma-dangle": [2, "always-multiline"],

    "jsdoc/check-param-names": 2,
    "jsdoc/check-tag-names": 2,
    "jsdoc/check-types": 2,
    "jsdoc/newline-after-description": 2,
    "jsdoc/require-description-complete-sentence": 2,
    "jsdoc/require-hyphen-before-param-description": 2,
    "jsdoc/require-param": 2,
    "jsdoc/require-param-description": 2,
    "jsdoc/require-param-type": 2,
    "jsdoc/require-returns-description": 2,
    "jsdoc/require-returns-type": 2,

    "async-await/space-after-async": 2,
    "async-await/space-after-await": 2
  }
}
